# System
SYS_USER=
# WiFi
WIFI_SSID=
WIFI_PASS=
# MQTT
# Firebase
FIREBASE_API_KEY=
FIREBASE_DB_URL=
FIREBASE_USER_EMAIL=
FIREBASE_USER_PASS=
# PC Control
PC_MAC=
PC_SHUTDOWN_URL=
# Network Monitoring
PING_TARGET_PC=
PING_TARGET_PHONE=
